@import url("header/header.css");
@import url("main/main.css");
@import url("header/__name/__name.css");
@import url("header/_navigation/_navigation.css");
@import url("header/_navigation/_link/_link.css");
@import url("main/greeting/greeting.css");
@import url("main/greeting/__content/__content.css");
@import url("main/greeting/__content/_selected/_selected.css");
@import url("main/__chapter/__chapter.css");
@import url("main/project-card/__img/__img.css");
@import url("main/project-card/project-content/__description/__descriprion.css");
@import url("main/project-card/project-content/__role/__role.css");
@import url("main/project-card/project-content/__title/__title.css");
@import url("main/project-card/project-content/__app/__app.css");
@import url("main/project-card/project-content/project-content.css");
@import url("main/project-card/project-card.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}


body {
    padding: 5vh 12vw;
    background: #1e1e1e;
}

