.greeting{
    margin-top: 10vh;
    background: #232323;
    border-radius: 5px;
    border:#3b3b3b 2px solid;
    text-align: left;
    padding: 3vw 0 3vw 3vw;
    display: flex;
    flex-direction: column;
    gap:15px;
}