.project-content__role{
    margin-top: 18px;
    margin-bottom: 18px;
    color: #DADADA;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}